#list-product{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px 80px;
}

#addNewProduct{
    font-family: 'Poppins';
    background-color: #FFA439;
    border: none;
}

#opAdmin{
    margin-bottom: 5%;
}