#imageCard{
  background-color: violet;
  width: 100%;
  height: 170px;
  margin: 10px;
}

#cardBag{
    width: 95%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
}

#infoCardProd h5{
    text-align: start;
    margin-top: 1.5%;
}

#infoCardProd p{
  color: #626262;
  width: 95%;
  font-size: 13.3px;
}

#countValue{
  font-weight: 600;
  text-align: end !important;
  width: 95%;
}

/* Amount Product */

#contProd{
  font-family: 'Poppins';
  font-weight: 900;
}

#contProd button{
  font-weight: 900;
  font-size: 1rem;
  background-color: #FFA439;
  border: none;
}

#contProd button:focus{
  box-shadow: none;
}

#display{
  width: 50px;
  text-align: center;
  align-self: center;
  padding: 7px;
  background-color: rgb(233, 233, 233);
}

#plusBtn{
  border-radius: 0px 5px 5px 0px;
}

#subBtn{
  border-radius: 5px 0px 0px 5px;
}

.photoBag{
  width: 20%;
  z-index: 5;
  bottom: 62%;
  left: 19.5%;
}
