#imageCard{
  background-color: violet;
  width: 100%;
  height: 210px;
  margin: 10px;
}

#cardBag{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
}

#infoCardProd h5{
    text-align: start;
}

#infoCardProd p{
  color: #626262;
  width: 90%;
}

#countValue h5{
  align-self: center;
  margin-right: 15%;
  font-weight: 600;
}

/* Amount Product */

#contProd{
  font-family: 'Poppins';
  font-weight: 900;
}

#contProd button{
  font-weight: 900;
  font-size: 1rem;
  background-color: #FFA439;
  border: none;
}

#contProd button:focus{
  box-shadow: none;
}

#display{
  width: 50px;
  text-align: center;
  align-self: center;
  padding: 7px;
  background-color: rgb(233, 233, 233);
}



#plusBtn{
  border-radius: 0px 5px 5px 0px;
}

#subBtn{
  border-radius: 5px 0px 0px 5px;
}