#cardConfirmPay{
    width: 30%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 35px;
}

#cardConfirmPay h6{
    font-family: var(--title);
}

#form p{
    font-family: 'Poppins';
    font-weight: 500;
    color: #5a5a5a;
    margin: 15px 0px 3px;
}

#dateForm{
    color: #5a5a5a;
}

#dataForm::placeholder{
    color: #5a5a5a;
}

label{
    font-family: 'Poppins';
}

#form .form-control{
    border: none;
    background-color: #F8F8F8;
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 5px !important;
}

.itemForm{
    width: 48%;
}

#Venc{
    justify-content: space-between;
}

#contCompra{
    width: 70%;
    font-family: 'Poppins';
    background-color: #FFA439;
    border: #FFA439;
}

#formSelect{
    border: none;
    background-color: #F8F8F8;
    padding: 15px 10px;
    font-family: 'Poppins';
}