.header{
    background-color: #161616;
    width: 100vw;
}

.location{
 color: #FFF;
 align-self: center;
 font-family: 'Poppins';
}

.location #text-min{
   font-size: 13px;
}

.location .icon{
    font-size: 35px;
}

.icons-menu{
    color: #FFF;
    font-size: 25px;
}