.search{
    width: 50%;
}

.search-input{
    width: 100%;
    border-radius: 0px 7px 7px 0px;
    font-family: 'Poppins';
    border: none;
}

.p-inputtext:hover{
  border: none !important;
  padding: 3;
  transition: 0.5s;
}

.p-inputtext:enabled:focus {
    border: none;
    box-shadow: none;
}

#btn-search{
    border-radius: 0px 4px 4px 0px;
    font-family: 'Poppins';
    background-color: var(--btn-oragen);
    color: #FFF;
    border: none;
    transition: 0.5s;
}

#btn-search:hover{
    background-color: #ffc077;
}