@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Lemon-Medium';
    src: url('./Fonts/LEMONMILK-Medium.otf');
}

:root{
    --btn-oragen: #FFA439;
    --hover-text: #FFA439;
    --btn-brown: #161616;
    --container-black: #111111;
    --container-white: #F2F2F2;
    --footer: #161616;
    --title: 'Lemon-Medium';
}

.container-black{
    background-color: var(--container-black);
}

.container-white{
    background-color: var(--container-white);
}

.container-white .card-product{
    background-color: #171717;
    color: #FFFFFF;
}

.container-white .card-product p{
    color: #CDCDCD;
}

p{
    font-family: 'Poppins';
}

.text-area{
    width: 50%;
}

.text-area p{
    width: 90%;
    margin-top: 5%;
    font-size: 1.2rem;
}

.text-area h1{
    font-family: var(--title);
}

.header .logo{
    width: 7%;
}

.logo{
    width: 7%;
}

